<div id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
    aria-labelledby="staticBackdropLabel" class="modal  fade show" aria-modal="true" role="dialog"
    style="display: block;">
    <div _ngcontent-atg-c16="" class="modal-dialog  ">
        <div _ngcontent-atg-c16="" class="modal-content bg-dotz">
            <div _ngcontent-atg-c16="" class="modal-body d-flex row justify-content-center">
                <div class="col-12 spinner-border spinner" role="status"> </div>
                <span class="col-12 text-center">Loading...</span>
            </div>

        </div>
    </div>
</div>
<div class="backdrop-loading" tabindex="-2">

</div>