
.backdrop-loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1058;
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1058;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: block;
    opacity: 0.8;
}

.spinner{
   color:#003f95;
}


.bg-dotz{
    background: #ffb210;
    color:white
}