@import "../../../assets/stylesheets/theme";

.navbar__bar{
    background: #f29433;
    padding: 19px;
}

.brand-img{
    height: 38px;
    width: auto;
    padding: 4px;
    border-radius: 41%;
    background: white;
    transform: scale(2.30);
    margin-left: 70px;
}

.nav__entrar-botao{
    background:$background-orange !important ;
    color: $color-text;
}
.nav__entrar-botao:hover{
    background:lighten($background-orange,20%)!important ;
    color: $color-text;
}

.nav__cadastro-botao{
    border: 1px solid white;
    background:$background-blue!important ;
    color: $color-text;
}
.nav__cadastro-botao:hover{
    border: 1px solid white;
    background:lighten($background-blue,20%) !important ;
    color: $color-text;
}

.conteudo-esquerdo{


}

.conteudo-direto{

}